
/* Stylesheet with media queries specifying behaviors for three different
   overlapping page widths, with the same number used for min-width as for
   max-width at each of the two internal width boundaries. */

@media only screen and (max-width: 400px) { #small { background-color: green; } }

@media only screen and (min-width: 400px) and (max-width: 600px) {
    #medium { background-color: green; }
}

@media only screen and (min-width: 600px) { #large { background-color: green; } }
